---
layout: page
title: Projects
description: https://github.com/2min0r
background: '/img/bg-index.jpg'
form: true
---
{% assign sorted_repos = site.github.public_repositories | sort: 'stargazers_count' | reverse  %}

<div class = "switch">
  Show forked projects
  <span class="toggleWrapper">
      <input type="checkbox" class="dn fork-switch" id="dn" checked="1" onchange="toggleForked()"/>
      <label for="dn" class="toggle">
          <span class="toggle__handler"></span>
      </label>
  </span> 
</div>


<div class="row row-cols-1 row-cols-md-3 card-group">
    {% for repo in sorted_repos %}
    <div class="col mb-4" {% if repo.fork %}id="forked"{% endif %}>
      <div class="card">
        <div class="card-top card-img-top">
          <span class="gitstar">★{{repo.stargazers_count}}</span>
          <a class="card-title" href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
          <span class="update-at">Update: {{repo.updated_at | date: '%Y-%m-%d'}}</span>
        </div>
        <div class="card-body">
          <p class="card-text">{{repo.description}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>