<script src="{{"/assets/vendor/jquery/jquery.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/startbootstrap-clean-blog/js/clean-blog.min.js" | relative_url }}"></script>

<script src="{{"/assets/scripts.js" | relative_url }}"></script>

<!-- back to top button -->
<script>

  jQuery(window).scroll(function(){
      if(jQuery(window).scrollTop()<50){
          jQuery('#rocketmeluncur').slideUp(500);
      }else{
          jQuery('#rocketmeluncur').slideDown(500);
      }
      var ftrocketmeluncur = jQuery("#ft")[0] ? jQuery("#ft")[0] : jQuery(document.body)[0];
      var scrolltoprocketmeluncur = $('rocketmeluncur');
  var viewPortHeightrocketmeluncur = parseInt(document.documentElement.clientHeight);
  var scrollHeightrocketmeluncur = parseInt(document.body.getBoundingClientRect().top);
  var basewrocketmeluncur = parseInt(ftrocketmeluncur.clientWidth);
  var swrocketmeluncur = scrolltoprocketmeluncur.clientWidth;
  if (basewrocketmeluncur < 1000) {
  var leftrocketmeluncur = parseInt(fetchOffset(ftrocketmeluncur)['left']);
  leftrocketmeluncur = leftrocketmeluncur < swrocketmeluncur ? leftrocketmeluncur * 2 - swrocketmeluncur : leftrocketmeluncur;
  scrolltoprocketmeluncur.style.left = ( basewrocketmeluncur + leftrocketmeluncur ) + 'px';
  } else {
  scrolltoprocketmeluncur.style.left = 'auto';
  scrolltoprocketmeluncur.style.right = '10px';
  }
  })

  jQuery('#rocketmeluncur').click(function(){
      jQuery("html, body").animate({ scrollTop: '0px',display:'none'},{
              duration: 600,  
              easing: 'linear'
          });
      
      var self = this;
      this.className += ' '+"launchrocket";
      setTimeout(function(){
        self.className = 'showrocket';
      },800)
  });
</script>

<!-- forked project -->
{% if page.url contains 'projects' %}
    <script>
        function toggleForked(){
        if ($('.fork-switch').prop('checked')) {
            $('div[id=forked]').removeClass('hidden');
        } else {
            $('div[id=forked]').addClass('hidden');
        }
        }
    </script>
{% endif %}

{% if page.url contains 'categories' %}
<script>
    function hiddenView(obj){
        var target = $(obj).next().eq(0);
        if('block' == $(target).css('display')){
            $(target).css('display', 'none');
        }else{
            $(target).css('display', 'block');
        }
    }
</script>
{% endif %}