---
layout: page
background: '/img/bg-index.jpg'
---

{% assign category = page.category | default: page.title %}
{% for post in site.categories[category] %}

<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">{{ post.date | date: '%Y년 %m월 %d일' }}</p>
</article>

<hr>

{% endfor %}